<p-toast></p-toast>
<div class="container-fluid emp-profile">
  <div class="row">
    <form class="form-inline" role="form" id="searchForm" #form="ngForm" (ngSubmit)="getPrediction()">
      <div class="col-md-12">
        <h6>Upload Image file:</h6>
        <p-fileUpload url="./upload.php" name="myfile[]" accept="image/*" [customUpload]="true"
          (onSelect)="onUpload($event)" (onClear)="reset()" (onRemove)="reset()" [showCancelButton]="false" [showUploadButton]="false">
        </p-fileUpload>
        <button [disabled]="uploadedFile == null" type="submit" class="btn btn-primary" style=" margin-left: 10px; margin-bottom:
          5px; margin-top: 5px;">
          Fetch Result
        </button>
      </div>
    </form>
  </div>
  <br>
  <div class="row" style="margin: 0px -11px;">
    <span *ngIf="dataService.resAvail">
      <h5>The CNN Model has recognized that the image shows the digit: {{dataService.result.Prediction}} </h5>
    </span>
  </div>
</div>
